<div class="w-5/12 board_overview_content pt-5">
  <div class="mainContent w-full">
    <div class="recent_boards mb-5 w-full inline-block">
      <p class="text-xl font-medium">
        <fa-icon [icon]="faClock"></fa-icon>
        <span class="pl-4">Recent Bekeken</span>
      </p>
      <div
        class="max-w-xs rounded overflow-hidden shadow-2xl relative float-left mx-2 my-5"
        *ngFor="let board of lastChangedBoards"
        [ngStyle]="{
          background:
            'url(https://picsum.photos/300/200?grayscale&blur=3?random=' +
            board.id +
            ')'
        }"
      >
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-white">{{ board.name }}</div>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#photography</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#travel</span
          >
        </div>
      </div>
    </div>
    <div class="personal_boards w-full inline-block">
      <p class="text-xl font-medium">
        <fa-icon [icon]="faUser"></fa-icon>
        <span class="pl-4">Persoonlijke Borden</span>
      </p>

      <div
        class="max-w-xs rounded overflow-hidden shadow-2xl relative float-left mx-2 my-5"
        *ngFor="let board of trelloBoards"
        [ngStyle]="{
          background:
            'url(https://picsum.photos/300/200?grayscale&blur=3?random=' +
            board.id +
            ')'
        }"
      >
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-white">{{ board.name }}</div>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#photography</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#travel</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
