<div
  class="w-full h-screen"
  [ngStyle]="{
    background: 'url(assets/images/login_bg.jpg)',
    backgroundSize: 'cover',
    backgroundPosition: '50%'
  }"
>
  <div class="board" *ngIf="board">
    <div
      class="relative w-full h-auto px-4 bg-black bg-opacity-50 board_header"
    >
      <p class="relative z-10 p-2 text-xl font-bold text-white">
        {{ board.name }}
      </p>
    </div>
    <app-boardColumn
      *ngFor="let column of board.columns"
      [column]="column"
      (createNewIssueEvent)="onCreateNewIssue($event)"
    ></app-boardColumn>
    <app-createNewColumn
      [board]="board"
      (createNewColumnEvent)="onCreateNewColumnForBoard($event)"
    ></app-createNewColumn>
  </div>
</div>
